<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brylle.nitaq_mobapp">
    <!-- Permissions needed to run Wi-Fi Direct -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatActivitySingle"></activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" /> <!-- Permissions needed to run both Wi-Fi Direct and Infrastructure Wi-Fi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Permissions needed to run Bluetooth Low Energy -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Permissions needed to run Bluetooth Classic -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Permissions needed to run both Bluetooth Low Energy and Bluetooth Classic -->
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- Permission required for authentication, always required -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>